# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
# Log Files
*.log
# Compiled class files
*.class

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
# mpeltonen/sbt-idea plugin
.idea_modules/
# 忽略 build/ 目录下的所有文件
build/
